<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../partials/CSS/bootstrap') %>
        <title>Add a Product</title>
</head>

<body>
    <div class="nav-container">
        <%- include('../partials/components/nav') %>
    </div>

    <%- include('../partials/JS/bootstrap') %>
</body>

</html>